<%
var publishTimestamp = page.date.valueOf();
%>

<div class="post-container container">
  <h3>
    <i class="fa fa-user-o"></i>
    需要问卷互填的请扫描二维码:
    <span class="post-date float-right" title="Feb 14, 2020, 10:52:29 AM">
      <i class="fa fa-pencil-square-o"></i>
      an hour ago
    </span>
  </h3>
  <li class="recent-post-item" style="height: 290px; text-align: center; padding:6px; width: 318px; border: none;">
    <h4>
      <a href="/2019/08/18/%E7%BD%91%E7%BB%9C%E9%97%AE%E5%8D%B7%E4%BB%A3%E5%A1%AB-%E6%A0%B7%E6%9C%AC%E6%94%B6%E9%9B%86-%E6%95%B0%E6%8D%AE%E9%87%87%E9%9B%86%E6%9C%8D%E5%8A%A1/">
        <img height="100%" width="90%" src="/images/群主QQ二维码.jpg">
        <p style="align-content: center">加我进问卷互填QQ群</p>
      </a>
    </h4>
  </li>
  <li class="recent-post-item" style="height: 290px; text-align: center; padding:6px; width: 318px; border: none;">
    <h4>
      <a href="/2019/08/18/%E7%BD%91%E7%BB%9C%E9%97%AE%E5%8D%B7%E4%BB%A3%E5%A1%AB-%E6%A0%B7%E6%9C%AC%E6%94%B6%E9%9B%86-%E6%95%B0%E6%8D%AE%E9%87%87%E9%9B%86%E6%9C%8D%E5%8A%A1/">
        <img height="100%" width="90%" src="/images/微信二维码.jpg">
        <p style="align-content: center">互填微信群-先加我-再拉进群</p>
      </a>
    </h4>
  </li>
  <li class="recent-post-item" style="height: 290px; text-align: center; padding:6px; width: 318px; border: none;">
    <h4>
      <a href="/2019/08/18/%E7%BD%91%E7%BB%9C%E9%97%AE%E5%8D%B7%E4%BB%A3%E5%A1%AB-%E6%A0%B7%E6%9C%AC%E6%94%B6%E9%9B%86-%E6%95%B0%E6%8D%AE%E9%87%87%E9%9B%86%E6%9C%8D%E5%8A%A1/">
        <img height="100%" width="90%" src="/2019/08/18/网络问卷代填-样本收集-数据采集服务/问卷数据收集.jpg">
        <p style="align-content: center">有偿代填问卷</p>
      </a>
    </h4>
  </li>
</div>
<div class="post-container container">

  <h3>
    <i class="fa fa-user-o"></i>
    <%= config.author || '' %>

    <span class="post-date float-right" title="{{moment(<%= publishTimestamp %>).format('MMM DD, YYYY, h:mm:ss A')}}">
      <i class="fa fa-pencil-square-o"></i>
      {{moment(<%= publishTimestamp %>).fromNow()}}
    </span>
  </h3>
  <ul class="tag-list clearfix">
    <% page.tags.forEach(function(tag){ %>
      <li class="tag-list-item">
        <a href="<%= url_for(tag.path) %>">
          <%= tag.name %>
        </a>
      </li>
      <% }) %>
  </ul>
  <article class="post-content">
    <h1><%= page.title || 'Untitle' %></h1>
    <%- page.content %>
  </article>
  <%- partial('_partial/post-right-side', {item: page}) %>
</div>




<% if (config.gitalk ) { %>
    <%- partial('_widget/gitalk') %>
<% }else{ %>
    <%- partial('_widget/disqus') %>
<% } %>
