<%
config.social = config.social || {};
theme.social = theme.social || {};
var github = config.social.github || theme.social.github;
var weibo = config.social.weibo || theme.social.weibo;
var linkedin = config.social.linkedin || theme.social.linkedin;
var location = config.location || theme.location;
var email = config.email || theme.email;
var url = config.url;
var avatar = config.avatar || theme.avatar || 'https://octodex.github.com/images/baracktocat.jpg'
%>

<div class="blog-intro">
  <div class="blog-intro-user">
    <img class="avatar" src="<%= avatar %>">
    <div class="user-name">
      <div class="blog-title"><a href="<%= config.service_url %>"><%= theme.title %></a></div>
      <div class="blog-author"><a href="<%= config.service_url %>"><%= theme.author %></a></div>

      <div class="blog-description left-box">
        代做SPSS数据分析, 数据科学调整, 代理发放网络问卷, 快速收集网络问卷数据(0.1元/份起), 
        详情咨询站长QQ1564799566, 或者加我微信 shujufenxidaizuo
      </div>

      <div class="left-box">
          大学生互填问卷QQ群-不诚信互填立即踢出
          <img src="/images/问卷互填群二维码.png" style="width:100%">
      </div>
      <div class="left-box">

          大学生互填问卷微信群(由于微信群二维码是经常变化的, 所以只能放我个人二维码, 我把你拉进去)
          <img src="/images/问卷互填微信群二维码.jpg" style="width:100%">

      </div>
      <div class="left-box">
      <a href="https://www.douban.com/group/668606/">问卷互填豆瓣小组</a>
      </div>
    
      <div class="left-box">
      <a href="https://weibo.com/p/1008081e8252d56ae65ad71cb02fb7f5fc5f18/super_index">问卷互填新浪微博超话</a>
      </div>
      <ul class="user-detail mobile-only">
        <% if(location){ %>
        <li>
          <i class="fa fa-map-marker"></i>
          <%= location %>
        </li>
        <% }if(email){ %>
        <li>
          <i class="fa fa-envelope-o"></i>
          <a href="mailto:<%= email %>"><%= email %></a>
        </li>
        <% } %>
        <li>
          <i class="fa fa-home"></i>
          <a href="<%= url %>"><%= url %></a>
        </li>
      </ul>
    </div>

  </div>

  <ul class="user-detail desktop-only left-box">
    <% if(location){ %>
    <li>
      <i class="fa fa-map-marker"></i>
      <%= location %>
    </li>
    <% }if(email){ %>
    <li>
      <i class="fa fa-envelope-o"></i>
      <a href="mailto:<%= email %>"><%= email %></a>
    </li>
    <% } %>
    <li>
      <i class="fa fa-link"></i>
      <a href="<%= url %>"><%= url %></a>
    </li>
  </ul>



  <div class="links desktop-only left-box">
    <%- partial('_widget/links') %>
  </div>
  <div class="desktop-only left-box">
    <%- tagcloud() %>
  </div>

  <div class="social-media desktop-only">
    <h4>Social Media</h4>
    <ul>
      <% if(github){ %>
        <li class="social-media-item">
          <a href="<%= github %>" target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <% } if(weibo){ %>
          <li class="social-media-item">
            <a href="<%= weibo %>" target="_blank">
              <i class="fa fa-weibo"></i>
            </a>
          </li>
          <% } if(linkedin){ %>
            <li class="social-media-item">
              <a href="<%= linkedin %>" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <% } %>
    </ul>
  </div>
</div>
