<%
var posts = page.posts.data;
var recentPosts = page.posts.data.slice(0, 100);
%>

<div class="container-lg">
  <%- partial('_partial/intro') %>

  <div class="blog-detail">
    <%- partial('_partial/navbar-secondary', {nav_selected: 0}) %>

    <div class="body-secondary">
        <ul class="recent-post clearfix">
            <li class="recent-post-item" style="height: 290px; text-align: center">
                <h2>
                  <a href="/2019/08/18/%E7%BD%91%E7%BB%9C%E9%97%AE%E5%8D%B7%E4%BB%A3%E5%A1%AB-%E6%A0%B7%E6%9C%AC%E6%94%B6%E9%9B%86-%E6%95%B0%E6%8D%AE%E9%87%87%E9%9B%86%E6%9C%8D%E5%8A%A1/">
                    <img height="100%" width="100%" src="/2019/08/18/网络问卷代填-样本收集-数据采集服务/问卷数据收集.jpg">
                    <p style="align-content: center">问卷数据收集服务</p>
                  </a>
                </h2>
            </li>
            <li class="recent-post-item" style="height: 290px; text-align: center">
                <h2>
                  <a href="/2019/08/18/%E9%97%AE%E5%8D%B7%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90%E6%9C%8D%E5%8A%A1%E7%AE%80%E4%BB%8B/">
                    <img height="100%" width="100%" src="/2019/08/18/问卷数据分析服务简介/数据分析代做1.png">
                    <p style="align-content: center">数据分析服务</p>
                  </a>
                </h2>
            </li>
            <li class="recent-post-item" style="height: 290px; text-align: center">
              <h2>
                <a href="/2019/10/17/问卷设计-问卷数据分析-问卷数据购买服务/">
                  <img height="100%" width="100%" src="/2019/10/17/问卷设计-问卷数据分析-问卷数据购买服务/数据科学调整.jpg">
                  <p style="align-content: center">设计问卷+问卷数据+数据分析服务</p>
                </a>
              </h2>
          </li>
          <li class="recent-post-item" style="height: 290px; text-align: center">
            <h2>
              <a href="/2019/10/17/本站招聘问卷填写员-问卷数据分析人员-兼职/">
                <img height="100%" width="100%" src="/2019/10/17/%E6%9C%AC%E7%AB%99%E6%8B%9B%E8%81%98%E9%97%AE%E5%8D%B7%E5%A1%AB%E5%86%99%E5%91%98-%E9%97%AE%E5%8D%B7%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90%E4%BA%BA%E5%91%98-%E5%85%BC%E8%81%8C/%E6%8B%9B%E8%81%98.png">
                <p style="align-content: center">招聘问卷填写员和问卷数据分析人员</p>
              </a>
            </h2>
        </li>
        </ul>
      <p class="right-title">Recent post</p>
      <ul class="recent-post clearfix">
        <% recentPosts.forEach(function(post){ %>
        <li class="recent-post-item">
          <div class="clearfix">
            <h5 class="post-title text-ellipsis">
              <i class="fa fa-bars"></i>
              <a href="<%= url_for(post.path) %>"><%= post.title || 'Untitled' %></a>
            </h5>
            <p class="post-description text-ellipsis desktop-only">
              <%= post.content
                      .replace(/<[^>]*>/ig, ' ')
                      .substr(0, 50) %>
            </p>
            <p class="post-info desktop-only">
              <span><i class="fa fa-folder-open"></i> 
                <a href="<%= post.categories.data[0] ? url_for(post.categories.data[0].path) : '#' %>">
                  <%= post.categories.data[0] ? post.categories.data[0].name : 'Uncategorized' %>
                </a>
              </span>
              <i class="fa fa-tag"></i>
              <% post.tags.forEach(function(tag){ %>
                <a href="<%= url_for(tag.path) %>">
                  
                  <%= tag.name %>
                </a> 
              <% }) %>
            </p>
          </div>
        </li>
        <% }) %>
      </ul>
      <%- partial('_partial/pagination') %>

      <%- partial('_partial/calendar') %>

    </div>
  </div>
</div>